<ion-view title="'新增餐廳'" ng-init="init()" left-buttons="backButton">
    <ion-content has-header="true" has-tabs="true">
	    <div class="list">
	    	<div class="item item-input">
			    <span class="input-label">店名: </span>
			    <input type="text" ng-model="restaurant.name">
			</div>
			<div class="item item-input">
			    <span class="input-label">電話: </span>
			    <input type="tel" ng-model="restaurant.phone">
			</div>
			<div class="item item-input item-icon-right">
			    <span class="input-label">地址: </span>
			    <input type="text" ng-model="restaurant.address">
			    <i ng-click="onLocateClick()" class="ion-pinpoint"></i>
			</div>
			<div class="item item-input-inset">
			    <button ng-click="onCreateClick()" class="button button-positive">新增</button>
	  		</div>
  		</div>
    </ion-content>
</ion-view>