<ion-view title="'聊天'" ng-init="init()">
    <ion-content has-header="true" has-footer="true">
    	<div class="item item-input-inset" ng-show="state == MESSAGE">
			<label class="item-input-wrapper">
			    <input type="text" placeholder="請輸入訊息...." ng-model="message.text">
			</label>
			<button class="button button-positive" ng-click="onSendMessageClick()">傳送</button>
		</div>  	
		<div class="list">
		    <div ng-show="getDialogCount() == 0" class="item item-icon-left" >
			    <i class="icon ion-person-stalker"></i>
			    	聊天列表
			    <div class="item item-text-wrap">
			    	還沒有記錄，快去找個好友聊天吧！
				</div>
			</div>
			<!-- <h2 ng-class="friend.isMember ? 'member' : ''">{{friend.name}}</h2> -->
			<div ng-show="getDialogCount() > 0" ng-repeat="dialog in dialogs track by $index" class="message">
	            <div ng-class="isHost(dialog) ? 'hostmessages' : 'guestmessages'">
		            <!-- <p>dialog.id={{dialog.id}}</p> -->
		            <p ng-class="isHost(dialog) ? 'hostp' : 'guestp'">{{dialog.message}}</p>
		            <!-- <h2>dialog.senderPhone={{dialog.senderPhone}}</h2> -->
		            <!-- <h2>dialog.receiverPhone={{dialog.receiverPhone}}</h2> -->
			    </div>
		    </div>
		</div>
    </ion-content>
	<ion-footer-bar class="bar-frosted">
        <button class="button button-clear button-positive" ng-click="onSendClick()">傳送訊息</button>
    </ion-footer-bar>
</ion-view>