<ion-view title="friendName" ng-init="init()" left-buttons="backButton">
<!-- <ion-view title="friendName" ng-init="init()" left-buttons="backButton" ng-class="chooseRestaurant ? 'blackDiv' : ''"> -->
	<ion-content has-header="true" has-bouncing="true">
		<div class="item item-input-inset">
	    	<label class="item-input-wrapper">
	      		<input type="text" placeholder="請輸入訊息...." ng-model="chatMessage.text">
	    	</label>
	   		<button class="button button-positive" ng-click="onSendMessageClick()">
	      		傳送
	    	</button>
	    	<img ng-src="images/food.png" ng-click="onLocationClick()">
	      		
	    	</button>
    	</div>
    	<div ng-repeat="chatMessage in chatMessageList | reverseArray track by $index">
	        <div ng-class="chatMessage.senderPhone == hostPhone ? 'hostmessages' : 'guestmessages'" ng-click="onMessageClick(chatMessage)">
	          	<img ng-src="images/maps.png" ng-if="hasLocation(chatMessage)"></img>
		        <p ng-show="!hasLocation(chatMessage)" ng-class="chatMessage.senderPhone == hostPhone ? 'hostp' : 'guestp'">{{chatMessage.message | removeLocation}}</p>
		        <p>{{message.time | fromNow}} {{message.hasRead && message.senderPhone == hostPhone ? '已讀' : ''}}</p>
			</div>
	    </div>
    </ion-content>
</ion-view>