<ion-view title="'好友列表'" ng-init="init()">
    <ion-content has-header="true" has-tabs="true">	
		<div class="list">
		    <div ng-show="getCount() == 0" class="item item-icon-left" >
			    <i class="icon ion-person-stalker"></i>
			    	朋友列表
			    <span class="item-note">
					請新增朋友
				</span>
			</div>
			
		    <div ng-show="getCount() > 0" ng-repeat="friend in friends | sortBy:'birthday'" class="item item-icon-left item-icon-right">
		    	<i class="icon ion-edit" ng-click="onEditClick(friend)"></i>
                <div ng-click="toURL(friend.phone)">
	                <h2 ng-class="friend.isMember ? 'member' : 'notmember'">{{friend.name}}</h2>
	                <span class="item-note">{{friend.birthday| afterDay}}生日</span>
	                <p>{{friend.phone}}</p>
			    </div>
			    <i class="icon ion-trash-b" ng-click="onDeleteClick(friend.id)"></i>
	        </div>
        </div>
    </ion-content>
</ion-view>