<ion-view title="'新增好友'" ng-init="init()">
    <ion-content has-header="true" has-tabs="true">
	    <div class="list">
	    	<label class="item item-input">
			    <span class="input-label">姓名: </span>
			    <input type="text" placeholder="小強"  ng-model="model.name">
			</label>
			<label class="item item-input">
			    <span class="input-label">電話: </span>
			    <input type="tel" placeholder="09XXXXXXXX"  ng-model="model.phone">
			</label>
			
			<div class="item item-input-inset">
			    <button ng-click="onCreateClick()" class="button button-positive">新增</button>
				<button ng-click="setFriendsFromContacts()" class="button button-positive">匯入聯絡人</button>
	  		</div>
  		</div>
    </ion-content>
</ion-view>