<ion-view title="host.publisherName" ng-init="init()">
	<ion-content has-header="true" has-tabs="true" has-bouncing="true">
		<div class="list">
			<div ng-show="!isSubscribe">
			    <span class="item-note">
					請訂閱官方消息
				</span>
			</div>
			<div ng-show="isSubscribe" ng-repeat="chatMessage in reverse(chatMessages) track by $index">
		    	<div ng-show="chatMessage.senderPhone != hostPhone" class="item item-body" ng-class="chatMessage.senderPhone == hostPhone ? 'item-icon-right' : 'item-icon-left'">
	                <div>
		                <p>{{chatMessage.message}}</p>
		                <p>{{chatMessage.time | fromNow}}</p>
				    </div>
		        </div>
	        </div>
        </div>
    </ion-content>
</ion-view>