<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-positive">
    <ion-tab title="朋友" icon="icon ion-social-android" href="#/tab/friends">
        <ion-nav-view name="tab-friends"></ion-nav-view>
    </ion-tab>
    <ion-tab title="聊天" icon="icon ion-android-chat" href="#/tab/chatList">
        <ion-nav-view name="tab-chatList"></ion-nav-view>
    </ion-tab>
    <ion-tab title="新增朋友" icon="icon ion-plus" href="#/tab/add">
        <ion-nav-view name="tab-add"></ion-nav-view>
    </ion-tab>
    <ion-tab title="消息中心" icon="icon ion-chatboxes" href="#/tab/publish">
        <ion-nav-view name="tab-publish"></ion-nav-view>
    </ion-tab>
    <ion-tab title="註冊" icon="icon ion-gear-a" href="#/tab/setting">
        <ion-nav-view name="tab-setting"></ion-nav-view>
    </ion-tab>
</ion-tabs>